/* styles.css */

html {
background-color: goldenrod;
	background-image:
		linear-gradient(goldenrod,forestgreen);
	
}
body {
    padding: 40px;
}

h1 {
    font-family: Arial;
    color: hotpink;
    font-size: 150px;
    letter-spacing: 10px;
    text-align: center;
}

h2 {
    font-family: Arial;
    color: white;
    font-size: 100px;
    letter-spacing: 15px;
    text-align: center;
}


div {
	font-family: georgia;
	color: dodgerblue;
	font-size: 30px;
	letter-spacing: 5px;
	margin: 30px;
}


.line1 {
    margin-left: 0px;
}

.line2 {
    margin-left: 100px;
}

.line3 {
    margin-left: 200px;
}

.line4 {
    margin-left: 300px;
    transform: rotate(10deg);
}

.line5 {
    margin-left: 300px;
}

.line6 {
    margin-left: 200px;
}

.line7 {
    margin-left: 100px;
}


.world {
    text-align: center;
    font-size: 60px;
    color: white;
}

.credit {
    margin-top: 50px;
    text-align: center;
    font-size: 14px;
    color: black;
}



